
html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.sigma-parent {
	position: relative;
	height: 100%;
	min-height: 800px !important;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas#sigma_bg_1 {
	display: none;
}

#attributepane {
   	display: block;	
	display: none;
    position:absolute;
    height:auto;
    bottom:0;
    top:50%;
    right:0;
	width: 240px;
	background-color: #fff;
	margin: 0;
	word-wrap: break-word;
	background-color:rgba(255,255,255,0.8);
	border: 1px solid #ccc;
	padding: 0px 18px 0px 18px;	
	z-index: 1;
}


#attributepane .text {
	height:83%;
}

#attributepane .headertext {
	color: #000;
	margin-bottom: 5px;
	height: 14px;
	border-bottom: 1px solid #999;
	padding: 0px 0 10px 0;
	font-size:16px;
	font-weight:bold;
}


#attributepane .returntext em {
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
	display: block;
	width: 20px;
	height: 20px;
	background-position: -91px -13px;
	float: left;
}

#attributepane .returntext span {
	padding-left: 5px;
	display: block;
}

#attributepane .close {
	padding-left: 14px;
	margin-top: 10px;
}

#attributepane .close .c {
	border-top: 2px solid #999;
	padding: 10px 0 14px 0;
}

#attributepane .close em {
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#attributepane .close span {
display: block;
width: 151px;
float: left;
}

#attributepane .nodeattributes {
	display:block;
	height:85%;
	overflow-y: scroll;
	overflow-x: hidden;
	border-bottom:1px solid #999;
}

#attributepane .name {
font-size: 14px;
cursor: default;
padding-bottom: 10px;
padding-top: 18px;
font-weight:bold;
}

#attributepane .data {

}

#attributepane .data .plus {
background-repeat: no-repeat;
background-image: url('../images/sprite.png');
background-position: -171px -122px;
width: 22px;
height: 20px;
float: left;
display: block;
}

#attributepane .link {
padding: 0 0 0 4px;
}

#attributepane .link li {
padding-top: 2px;
cursor:pointer;
}

#attributepane .p {
padding-top: 10px;
font-weight: bold;
font-size:14px;
}

.left-close {
background-image: url('../images/fancybox_sprite.png');
margin-left:-37px;
z-index:99999;
cursor: pointer;
padding-left:31px;
line-height:36px;
background-repeat: no-repeat;
margin-bottom:25px;
font-weight: bold;
font-size:14px;

}

#developercontainer {
	margin-left:25px;
	margin-bottom:25px;
	position:fixed;
	bottom:0;
}






#search {
	padding: 20px 0 0px 2px;
}

#search input[name=search] {
border: 1px solid #999;
background-color: #fff;
padding: 5px 7px 4px 7px;
width: 205px;
color: #000;
}

#search input.empty {
color: #000;
}

#search .state {
width: 14px;
height: 14px;
background-image: url('../images/sprite.png');
float: right;
margin-top: 6px;
cursor: pointer;
background-position: -131px -13px;
}

#search .state.searching {
background-position: -11px -13px;
}

#search .results {
	display: none;
/*	border: 1px solid #999;*/
	margin: 6px;
	/*height: 150px;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

#search .results b {
padding-left: 2px;
}

#search .results a {
padding: 1px 2px;
display: block;
cursor: pointer;
text-decoration: none;
color: #000;
}

#search .results a:hover {
background-color: #999;
color: #fff;
}



#attributeselect .select {

	background-color: #999;
}



#attributeselect .list {
border: 1px solid black;
max-height: 200px;
overflow: scroll;
	
}	


.link h2 {
font-size: 1em;
padding-top: 1em;
}

#mainpanel {
	padding: 20px;
}

#mainpanel dl {
	padding-bottom:10px;
}

#mainpanel h2 {
	font-size:14px;
}

#mainpanel dt {
width: 20px;
height: 20px;
float: left;
background-repeat: no-repeat;
background-image: url('../images/sprite.png');
}

#legend dl {
}

#mainpanel h2 {
	padding-bottom:10px;
}

#legend dd {
margin-bottom: 8px;
color: #000;
}

#mainpanel .infos dd {
margin-bottom: 12px;
}

#mainpanel .node {
background-position: -11px -119px;
}

#mainpanel .edge {
background-position: -51px -122px;
}

#mainpanel .colours {

background-image:url('../images/rainbow.png');

}
#legend .note {
margin-bottom: 8px;

}

#mainpanel .regions {
background-position: -171px -13px;
}

#mainpanel .download {
background-position: -51px -13px;
}

#mainpanel .moreinformation {
background: url('../images/info.png');
background-repeat: no-repeat;
margin-left: 5px;
}


#zoom {
	z-index:999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 240px;
	height: 80px;
	position: relative;
	right: 5%;
	bottom: 5%;
}
#zoom .div {
	display: inline-block;
}

.line {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

#information {
display: none;
background: #fff;
padding: 1px 10px 10px 10px;
}

#information h3 {
margin: 14px 0 4px 0;
}

#information p {
margin: 0 0 4px 0;
}

#information .button {
width: 14px;
height: 14px;
background-image: url('../images/sprite.png');
border: 1px solid #999;
display: inline-block;
*display: inline;
*zoom: 1;
}

#information .button span {
display: none;
}

#information .button.plus {
background-position: -91px -122px; 
}

#information .button.moins {
background-position: -131px -122px;
}

#minify {
background-color: #fff;
padding: 4px 4px 4px 25px;
cursor: pointer;
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -167px -118px;
position: absolute;
top: 65px;
left: 15px;
display: none;
}

#minifier {
position: absolute;
width: 20px;
height: 16px;
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -45px -147px;
cursor: pointer;
display: none;
}

.input-icon { 
	position: absolute; 
	padding-top: 13px;
    padding-left: 50px;
} 
.box {
	padding-bottom: 10%;

}

#websites {
	list-style: none; /* Remove default bullets */
}
#websites li {
	list-style: none;
}
#websites li::before {
  content: "\2588 ";  /* Add content: \2022 is the CSS Code/unicode for a square block */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
